@use "../config/" as *;

.container {
  max-width: var(--container);
  margin: auto;
  width: 100%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
p {
  color: var(--neutral-200);
}
.title {
  font-size: 3rem;
  color: var(--neutral-100);
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.card {
  color: var(--neutral-100);
  a {
    color: var(--neutral-100);
    text-decoration: underline;
  }
  &-content {
    padding: var(--space-2);
  }
}
