@use "../config/" as *;
// display grid
@each $breakpoint, $val in $breakpoints {
  @for $width from 1 through $grid-columns {
    @if ($breakpoint ==xs) {
      .grid-#{$width} {
        display: grid;
        grid-template-columns: repeat($width, 1fr);
      }
      .col-#{$width} {
        grid-column-start: $width span;
      }
    } @else {
      @include mq($breakpoint) {
        .grid-#{$breakpoint}-#{$width} {
          display: grid;
          grid-template-columns: repeat($width, 1fr);
        }

        .col-#{$breakpoint}-#{$width} {
          grid-column-start: $width span;
        }
      }
    }
  }
}
// display flex
