$colors: (
  "primary": hsl(20, 80%, 55%),
  "secondary": hsl(50, 90%, 55%),
  "dark": hsl(0, 0%, 0%),
  "light": hsl(0, 0%, 100%),
  "success": hsl(120, 60%, 40%),
  "info": hsl(195, 60%, 58%),
  "warning": hsl(45, 100%, 50%),
  "danger": hsl(0, 75%, 60%),
  // additionals
  "body": hsl(0, 0%, 80%),
  "headings": hsl(0, 0%, 0%),
  "text": hsl(0, 0%, 10%),
);
$breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container: (
  xs: 100%,
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
);
$spacing: (
  t: top,
  r: right,
  b: bottom,
  l: left,
  x: inline,
  y: block,
);
