$colors: (
  primary: (
    100: hsl(218, 46%, 70%),
    200: hsl(218, 46%, 50%),
    300: hsl(218, 46%, 35%),
    400: hsl(218, 46%, 25%),
    500: hsl(218, 46%, 10%),
  ),
  secondary: (
    100: hsl(39, 53%, 70%),
    200: hsl(39, 53%, 55%),
    300: hsl(39, 53%, 30%),
    400: hsl(39, 53%, 25%),
    500: hsl(39, 53%, 10%),
  ),
  accent: (
    100: hsl(1, 20%, 80%),
    200: hsl(1, 50%, 75%),
    300: hsl(1, 66%, 50%),
    400: hsl(1, 66%, 25%),
    500: hsl(1, 66%, 10%),
  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 85%),
    300: hsl(0, 0%, 50%),
    400: hsl(0, 0%, 25%),
    500: hsl(0, 0%, 0%),
  ),
);
$breakpoints: (
  xs: 300px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
$container: (
  xs: 100%,
  sm: 54rem,
  md: 72rem,
  lg: 96rem,
  xl: 114rem,
  xxl: 132rem,
);
$spacing:(
  t:top,
  r:right,
  b:bottom,
  l:left,
  x:inline,
  y:block,
);
